<h1>Listing services</h1>

<table>
  <thead>
    <tr>
      <th>Dest</th>
      <th>Shipco</th>
      <th>Air price</th>
      <th>Sea price</th>
      <th>National</th>
      <th>Other</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @services.each do |service| %>
      <tr>
        <td><%= service.dest_id %></td>
        <td><%= service.shipco_id %></td>
        <td><%= service.air_price %></td>
        <td><%= service.sea_price %></td>
        <td><%= service.national %></td>
        <td><%= service.other %></td>
        <td><%= link_to 'Show', service %></td>
        <td><%= link_to 'Edit', edit_service_path(service) %></td>
        <td><%= link_to 'Destroy', service, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Service', new_service_path %>
