<h1>Listing services</h1>

<table>
  <thead>
    <tr>
      <th>Destination</th>
      <th>Ship Company</th>
      <th>Air Lb/price</th>
      <th>Sea SqFt/price</th>
      <th>National?</th>
      <th>Other</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @services.each do |service| %>
      <tr>
        <td><%= service.destination.location %></td>
        <td><%= service.shipper.shipco %></td>
        <td><%= service.air_price %></td>
        <td><%= service.sea_price %></td>
        <td><%= service.national %></td>
        <td><%= service.other %></td>
        <td><%= link_to 'Show', service %></td>
        <td><%= link_to 'Edit', edit_service_path(service) %></td>
        <td><%= link_to 'Destroy', service, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<p>
<%= link_to 'New Service', new_service_path %>
</p>