<p id="notice"><%= notice %></p>

<p>
  <strong>Destination:</strong>
  <%= @service.destination_id %>
</p>

<p>
  <strong>Ship Company:</strong>
  <%= @service.shipper_id %>
</p>

<p>
  <strong>Air LB/price:</strong>
  <%= @service.air_price %>
</p>

<p>
  <strong>Sea SqFt/price:</strong>
  <%= @service.sea_price %>
</p>

<p>
  <strong>National?</strong>
  <%= @service.national %>
</p>

<p>
  <strong>Other:</strong>
  <%= @service.other %>
</p>

<%= link_to 'Edit', edit_service_path(@service) %> |
<%= link_to 'Back', services_path %>
<p>
  <%= link_to 'New Service', new_service_path %>
</p>
