<h1>Listing shippers</h1>

<table>
  <thead>
    <tr>
      <th>Ship Company</th>
      <th>Address1</th>
      <th>Address2</th>
      <th>City</th>
      <th>Zip</th>
      <th>Area</th>
      <th>Monday</th>
      <th>Tuesday</th>
      <th>Wednesday</th>
      <th>Thursday</th>
      <th>Friday</th>
      <th>Saturday</th>
      <th>AES</th>
      <th>Cargo Insurance</th>
      <th>Brockage Service</th>
      <th>Importation</th>
      <th>Inventory</th>
      <th>Purchasing</th>
      <th>Repackaging</th>
      <th>Warehousing</th>
      <th>Accept cash</th>
      <th>Accept checks</th>
      <th>Accept debitcard</th>
      <th>Accept Paypal</th>
      <th>Phone 1</th>
      <th>Phone 2</th>
      <th>Contact Person1</th>
      <th>Contact Person2</th>
      <th>Longitud</th>
      <th>Altitude</th>
      <th>Email</th>
      <th>Skype or Watsup</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @shippers.each do |shipper| %>
      <tr>
        <td><%= shipper.shipco %></td>
        <td><%= shipper.addr1 %></td>
        <td><%= shipper.add2 %></td>
        <td><%= shipper.city %></td>
        <td><%= shipper.zip %></td>
        <td><%= shipper.area %></td>
        <td><%= shipper.monday %></td>
        <td><%= shipper.tuesday %></td>
        <td><%= shipper.wednesday %></td>
        <td><%= shipper.thursday %></td>
        <td><%= shipper.friday %></td>
        <td><%= shipper.saturday %></td>
        <td><%= shipper.oth_aes %></td>
        <td><%= shipper.oth_ins %></td>
        <td><%= shipper.oth_brok %></td>
        <td><%= shipper.oth_impo %></td>
        <td><%= shipper.inventory %></td>
        <td><%= shipper.oth_pur %></td>
        <td><%= shipper.oth_repa %></td>
        <td><%= shipper.oth_ware %></td>
        <td><%= shipper.pay_cash %></td>
        <td><%= shipper.pay_chk %></td>
        <td><%= shipper.pay_debCrd %></td>
        <td><%= shipper.paypal %></td>
        <td><%= shipper.phon1 %></td>
        <td><%= shipper.phon2 %></td>
        <td><%= shipper.pers1 %></td>
        <td><%= shipper.pers2 %></td>
        <td><%= shipper.long %></td>
        <td><%= shipper.altitud %></td>
        <td><%= shipper.email %></td>
        <td><%= shipper.other %></td>
        <td><%= link_to 'Show', shipper %></td>
        <td><%= link_to 'Edit', edit_shipper_path(shipper) %></td>
        <td><%= link_to 'Destroy', shipper, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<p>
<%= link_to 'New Shipper', new_shipper_path %>
</p>