<p id="notice"><%= notice %></p>

<p>
  <strong>Shipco:</strong>
  <%= @shipper.shipco %>
</p>

<p>
  <strong>Addr1:</strong>
  <%= @shipper.addr1 %>
</p>

<p>
  <strong>Add2:</strong>
  <%= @shipper.add2 %>
</p>

<p>
  <strong>City:</strong>
  <%= @shipper.city %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @shipper.zip %>
</p>

<p>
  <strong>Area:</strong>
  <%= @shipper.area %>
</p>

<p>
  <strong>Monday:</strong>
  <%= @shipper.monday %>
</p>

<p>
  <strong>Tuesday:</strong>
  <%= @shipper.tuesday %>
</p>

<p>
  <strong>Wednesday:</strong>
  <%= @shipper.wednesday %>
</p>

<p>
  <strong>Thursday:</strong>
  <%= @shipper.thursday %>
</p>

<p>
  <strong>Friday:</strong>
  <%= @shipper.friday %>
</p>

<p>
  <strong>Saturday:</strong>
  <%= @shipper.saturday %>
</p>

<p>
  <strong>Oth aes:</strong>
  <%= @shipper.oth_aes %>
</p>

<p>
  <strong>Oth ins:</strong>
  <%= @shipper.oth_ins %>
</p>

<p>
  <strong>Oth brok:</strong>
  <%= @shipper.oth_brok %>
</p>

<p>
  <strong>Oth impo:</strong>
  <%= @shipper.oth_impo %>
</p>

<p>
  <strong>Inventory:</strong>
  <%= @shipper.inventory %>
</p>

<p>
  <strong>Oth pur:</strong>
  <%= @shipper.oth_pur %>
</p>

<p>
  <strong>Oth repa:</strong>
  <%= @shipper.oth_repa %>
</p>

<p>
  <strong>Oth ware:</strong>
  <%= @shipper.oth_ware %>
</p>

<p>
  <strong>Pay cash:</strong>
  <%= @shipper.pay_cash %>
</p>

<p>
  <strong>Pay chk:</strong>
  <%= @shipper.pay_chk %>
</p>

<p>
  <strong>Pay debcrd:</strong>
  <%= @shipper.pay_debCrd %>
</p>

<p>
  <strong>Paypal:</strong>
  <%= @shipper.paypal %>
</p>

<p>
  <strong>Phon1:</strong>
  <%= @shipper.phon1 %>
</p>

<p>
  <strong>Phon2:</strong>
  <%= @shipper.phon2 %>
</p>

<p>
  <strong>Pers1:</strong>
  <%= @shipper.pers1 %>
</p>

<p>
  <strong>Pers2:</strong>
  <%= @shipper.pers2 %>
</p>

<p>
  <strong>Long:</strong>
  <%= @shipper.long %>
</p>

<p>
  <strong>Altitud:</strong>
  <%= @shipper.altitud %>
</p>

<p>
  <strong>Email:</strong>
  <%= @shipper.email %>
</p>

<p>
  <strong>Other:</strong>
  <%= @shipper.other %>
</p>

<%= link_to 'Edit', edit_shipper_path(@shipper) %> |
<%= link_to 'Back', shippers_path %>
<p>
<%= link_to 'New Shipper', new_shipper_path %>
</p>