<p id="notice"><%= notice %></p>

<p>
  <strong>Ship Company:</strong>
  <%= @shipper.shipco %>
</p>

<p>
  <strong>Address 1:</strong>
  <%= @shipper.addr1 %>
</p>

<p>
  <strong>Address 2:</strong>
  <%= @shipper.add2 %>
</p>

<p>
  <strong>City:</strong>
  <%= @shipper.city %>
</p>

<p>
  <strong>Zip Code:</strong>
  <%= @shipper.zip %>
</p>

<p>
  <strong>Area:</strong>
  <%= @shipper.area %>
</p>

<p>
  <strong>Monday:</strong>
  <%= @shipper.monday %>
</p>

<p>
  <strong>Tuesday:</strong>
  <%= @shipper.tuesday %>
</p>

<p>
  <strong>Wednesday:</strong>
  <%= @shipper.wednesday %>
</p>

<p>
  <strong>Thursday:</strong>
  <%= @shipper.thursday %>
</p>

<p>
  <strong>Friday:</strong>
  <%= @shipper.friday %>
</p>

<p>
  <strong>Saturday:</strong>
  <%= @shipper.saturday %>
</p>

<p>
  <strong>AES:</strong>
  <%= @shipper.oth_aes %>
</p>

<p>
  <strong>Cargo Insurance:</strong>
  <%= @shipper.oth_ins %>
</p>

<p>
  <strong>Brockage Service:</strong>
  <%= @shipper.oth_brok %>
</p>

<p>
  <strong>Importation:</strong>
  <%= @shipper.oth_impo %>
</p>

<p>
  <strong>Inventory:</strong>
  <%= @shipper.inventory %>
</p>

<p>
  <strong>Purchasing:</strong>
  <%= @shipper.oth_pur %>
</p>

<p>
  <strong>Repackaging:</strong>
  <%= @shipper.oth_repa %>
</p>

<p>
  <strong>Warehousing:</strong>
  <%= @shipper.oth_ware %>
</p>

<p>
  <strong>Accepts cash:</strong>
  <%= @shipper.pay_cash %>
</p>

<p>
  <strong>Accepts check:</strong>
  <%= @shipper.pay_chk %>
</p>

<p>
  <strong>Accepts debitcard:</strong>
  <%= @shipper.pay_debCrd %>
</p>

<p>
  <strong>Paypal:</strong>
  <%= @shipper.paypal %>
</p>

<p>
  <strong>Phone 1:</strong>
  <%= @shipper.phon1 %>
</p>

<p>
  <strong>Phone 2:</strong>
  <%= @shipper.phon2 %>
</p>

<p>
  <strong>Contact 1:</strong>
  <%= @shipper.pers1 %>
</p>

<p>
  <strong>Contact 2:</strong>
  <%= @shipper.pers2 %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @shipper.longitude %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @shipper.latitude %>
</p>

<p>
  <strong>Email:</strong>
  <%= @shipper.email %>
</p>

<p>
  <strong>Skype or Watsup:</strong>
  <%= @shipper.other %>
</p>

<%= link_to 'Edit', edit_shipper_path(@shipper) %> |
<%= link_to 'Back', shippers_path %>
<p>
<%= link_to 'New Shipper', new_shipper_path %>
</p>