<h1>Listing services</h1>

<table>
  <thead>
    <tr>

      <th>Ship Company</th>
      <th>Air Lb/price</th>
      <th>Sea SqFt/price</th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @services.each do |s| %>
      <tr>

        <td><%= s.shipper.shipco %></td>
        <td><%= s.air_price %></td>
        <td><%= s.sea_price %></td>
        <td><%= s.national %></td>
        <td><%= s.other %></td>

      </tr>
    <% end %>
  </tbody>
</table>