<p id="notice"><%= notice %></p>

<p>
  <strong>Area:</strong>
  <%= @location.area %>
</p>

<p>
  <strong>Address:</strong>
  <%= @location.address %>
</p>

<p>
  <strong>Keyword:</strong>
  <%= @location.keyword %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @location.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @location.longitude %>
</p>

<p>
  <strong>Mapid:</strong>
  <%= @location.mapid %>
</p>

<button type="button" class="btn btn-default btn-xs"><%= link_to 'Edit', edit_location_path(@location) %> </button>
<button type="button" class="btn btn-default btn-xs"><<%= link_to 'Back', locations_path %></button>
<p>
<button type="button" class="btn btn-default btn-xs"><%= link_to 'New Location', new_location_path %></button>
</p>